include LICENSE README.md CITATION.cff Makefile
include .github/CONTRIBUTING.md .github/CODE_OF_CONDUCT.md .github/SECURITY.md
include artifact/Dockerfile
recursive-include configs *.json
recursive-include docs *.md *.json
recursive-include examples *.py *.json
recursive-include artifact *.md *.json *.py
recursive-include experiments *.py *.json *.csv *.pdf *.png
recursive-include tests *.py
prune build
prune .pytest_cache
global-exclude *.py[cod] __pycache__ .DS_Store
